@import "tailwindcss";
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Thin.ttf");
  font-weight: 100;
  font-style: thin;
}
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Light.ttf");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Medium.ttf");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Bold.ttf");
  font-weight: 700;
  font-style: extrabold;
}
@font-face {
  font-family: "google";
  src: url("./Fonts/google/ProductSans-Black.ttf");
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: thin;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-LightItalic.ttf");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-Italic.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: extrabold;
}
@font-face {
  font-family: "google-Italic";
  src: url("./Fonts/google/ProductSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: bold;
}

@theme {
  --font-google:"google",system-ui, sans-serif;
  --font-googleIt:"google-Italic",system-ui, sans-serif;

  /* Define a single custom color */
  --color-clrWhite: #ffffff;
  --color-clrGray:#eeebeb;
  --color-clrDisable:#eeebeb;
  --color-clrYellow: #FFBA00;
  --color-clrRed: #FF4131;
  --color-clrGreen: #00831E;
  --color-clrDarkGreen: #00AD3C;
  --color-clrLightBlue: #0084FF;
  --color-clrDarkBlue: #0066DD;
  --color-clrBlack:#000000

  --animate-slide: slide 3s ease-in-out 1;

  @keyframes slide {
    0%,
    100% {
      transform: translateX(100%);
    }
    25% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(0%);
    }
  }

  --animate-loading: loading 1s ease-in-out infinite;

  @keyframes loading {
    0% {
      opacity: 0.25; /* fully visible */
    }
    25% {
      opacity: 0.5; /* fully visible */
    }
    50% {
      opacity: 0.75; /* fully visible */
    }
    75% {
      opacity: 0.5; /* fully visible */
    }
    100% {
      opacity: 0.25; /* fully visible */
    }
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Set scrollbar width */
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100; /* Apply Tailwind background color to the track */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-black; /* Apply Tailwind background color and border-radius to the thumb */
}
